
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-family: lato;
    z-index: 1030;
    margin-top: -3rem;
    width: 100%;
    font-size: 15px;
    padding: 0 40px 26px 40px;
  
    a {
      text-decoration: none;
      color: black;
    }
  
  .copyright {
    font-size: 15px;
  }
  
  .bottom-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .socials {
    display: flex;
    gap: 40px;

    img{
        display: flex;
        width: 20px;
        height: 20px;
    }
  }
}



  @media only screen and (max-width: 992px) {
    footer {
      font-size: 10px;
  
      .copyright,
      .socials {
        font-size: 10px;
      }
    }
  }
  
  @media only screen and (max-width: 576px) {
    footer {
    margin-top: -128px;
      flex-wrap: wrap;
  
      .copyright,
      .socials {
        margin-bottom: 20px;

      }
      .bottom-nav {
        order: 3;
      }
      .bottom-nav {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }